  <aside class="bg-dark" id="technical">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Technical Stuff</h2>
              <p>All that's required to stream is an available power outlet and an internet connection with reliable 15Mbps+ upload, along with some space in the back of the venue for me to set up.  If your venue doesn't have an adequate internet connection available, the stream can be broadcast using 4G LTE for a modest additional cost.  If the venue is in a remote location where 4G LTE isn't available, unfortunately it won't be possible to stream from that location.  If there's any question, I can verify that suitable internet or 4G LTE service is available at your venue.  Streams can be broadcast in high definition on a number of platforms including Facebook Live or YouTube.</p>
          </div>
      </div>
  </aside>
