<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Do you have friends and loved ones who can't attend your special event?</h2>
                <hr class="light">
                <p class="text-faded">Using professional video and audio equipment, I can deliver your event to your friends and family live and in high quality.</p>
                <a href="#services" class="btn btn-default btn-xl">What I Offer</a>
            </div>
        </div>
    </div>
</section>
