<section class="bg-primary" id="who-i-am">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who Am I</h2>
                <h3 class="section-heading">Ross McLendon</h3>
                <hr class="light">
                <p class="text-faded">With a background in engineering, photography, and technical production, I've recently begun providing videography services, including live streaming.  Over the past several months I've livestreamed multiple events including weddings. I'm committed to providing people with technical excellence at a good value and treating them with fairness and integrity.</p>
                <p class="text-faded">Learn a little more about one of my live streaming escapades in this <a style="color:#DBA79D" href="https://www.wpri.com/news/robins-nest-cam-a-welcome-distraction-for-many/">WPRI story</a> about a robin nest in our backyard I <a style="color:#DBA79D" href="https://youtu.be/JnKKotHtCGc?list=PLz-fSY5bHm91utYCASPWfbVa5k-hFNiCK&t=29867">streamed</a> last month.  These streams at this link give an idea of the audio and video fidelity I can provide.</p>
            </div>
        </div>
    </div>
</section>